
// タブレット 
@media (max-width: 768px) {
    .tb_only{
        display: block;
    }
    .sp_only{
        display: none;
    }
    .pc_only{
        display: none;
    }

    header{
        img{
            width: 189px;
            height: 20.6px;
    
            margin-top: 33px;
            margin-left: 30px;
        }
    }

    // ■FV
    .sec01{
        height: 1024px;

        // 背景黒
        &::before{
            width: 73%;
        }

        // FVメインイメージ
        .boxbackground {
            width: 78%;
        }
        .fv_text{
            top: 330px;
            right: -14%;
    
            font-size: 16px;
    
            h1{
                font-size: 56px;
            }
        }
    }

    // ■about us
    .sec02{
        .container{
            .about_boxImage {
                height: 479px;
                width: 100%;
            }
            
            .aboutText_wrapper{
                top: auto;
                left: auto;
                margin: 7% 10%;
                
                padding: auto;
        
                // min-height: 359px;
                height: 74%;
                width: 80%;
        
                h2{
                    padding-bottom: 25px;
                }
                p{
                    line-height: 2;
                    font-size: 16px;
                }
                
                .readmoreBtn{
                    margin: 25px 0;
                }
            }
        }
    }

    // ■WORKS
    .sec03{
        padding-top: 80px;
        padding-bottom: 60px;

        .container{
            .imageBords{
                flex-direction: column;

                .imageBord{
                    margin: 0 10%;
                    width: 80%;

                    .imageBox{
                        height: 350px;
                    }

                    .readmoreBtn{
                        margin: 0;
                    }
                }

                .imageBord + .imageBord{
                    margin-left: 10%;
                    margin-top: 80px;
                }
            }
        }

        // グレー背景
        &::before{
            height: 100%;
        }
    }

    // ■LATEST TOPICS
    .sec04{
        .container{
            padding:40px 0;
            margin: 0 10%;

            .topicsList{
                margin-left: 0;
            }

            .positionRight{
                // タブレット、スマホは左寄せ
                text-align: left;
            }
        }
    }

    // ■CONTACT
    .sec05{
        .container{
            padding: 40px 10% 80px;

            .contact_wrapper{
                flex-direction: column-reverse;

                .contactText_wrapper{
                    margin-top: 30px;
                    margin-right: 80px;

                    text-align: left;

                    .subTitle{
                        margin-bottom: 30px;
                    }
                    p{
                        line-height: 2;

                    }
                    .readmoreBtn{
                        margin-top: 30px;
                    }
                }

                .contactImage{
                    width: 84%;
                    height: 390px;
                }
            }
        }
    }

}

// ■スマホ用サイズ
@media (max-width:375px){

    // スマホ用表示フラグ
    .tb_only{
        display: none;
    }
    .sp_only{
        display: block;
    }
    .pc_only{
        display: none;
    }


    //--------------------------------------------
    // h2 サブタイトル
    .subTitle{
        font-size: 28px;
        letter-spacing: 2.2px;
    }

    // READ MOREボタン
    .readmoreBtn{
        // display: inline-block;
        
        width: 160px;
        height: 36px;
        line-height: 36px;
        // text-align: center;
        
        // background: rgba(0, 0, 0, 1);
        
        // color: rgba(255, 255, 255, 1);
        font-size: 12px;
    }
    //--------------------------------------------


    header{   
        line-height: 60px;
        height: 60px;
        img{
            width: 189px;
            height: 20.6px;
    
            margin-top: 19.8px;
            margin-left: 15px;
        }
        .menu{
            margin-right: 15px;
        }
    }


    .sec01{
        height: 667px;

        // 背景黒
        &::before{
            width: 73%;
        }

        // FVメインイメージ
        .boxbackground {
            width: 75%;
            height: 87%;
        }
        .fv_text{
            top: 178px;
            right: -21%;
    
            font-size: 16px;
    
            h1{
                font-size: 56px;
            }
        }
    }

    // ■about us
    .sec02{
        margin-top: 78px;

        .container{
            .about_boxImage {
                height: 541px;
                width: 100%;
            }
            
            .aboutText_wrapper{
                // top: auto;
                // left: auto;
                margin: 13% 3%;
                
                padding: 50px 15px 50px 30px;

                height: auto;
                width: 94%;

                h2{
                    padding-bottom: 25px;
                }
                p{
                    // line-height: 2;
                    font-size: 14px;
                }
                
                .readmoreBtn{
                    margin: 0;
                    margin-top: 25px;
                }
            }
        }
    }

    // ■WORKS
    .sec03{
        padding-top: 40px;
        padding-bottom: 0;

        .container{
            .imageBords{
                .imageBord{
                    padding-bottom: 40px;

                    margin: 0 3%;
                    width: 94%;

                    .imageBox{
                        // height: 350px;
                        height: 0;
                        padding-top: 65%;
                    }

                    .readmoreBtn{
                        margin: 0;
                    }
                }

                .imageBord + .imageBord{
                    margin-left: 3%;
                    margin-top: 0;
                }
            }
        }
    }

    // ■LATEST TOPICS
    .sec04{
        .container{
            margin: 0 3%;

            .topicsList{
                margin-top: 32px;

                .topics{
                    margin-top: 0;
                    margin-bottom: 24px;

                    p{
                        font-size: 12px;
                    }
                }
            }

            .positionRight{
                .readmoreBtn{
                    margin-top: 6px;
                }
            }
        }
    }

    // ■CONTACT
    .sec05{
        .container{
            padding: 40px 3% 40px;

            .contact_wrapper{
                .contactText_wrapper{
                    // margin-top: 30px;
                    margin-right: 0;
                }

                .contactImage{
                    width: 100%;
                    // height: 390px;
                    height: 0;
                    padding-top: 67%;
                }
            }
        }
    }


}