// PC版で1100px以下になった時の両側の余白
@media (max-width:1100px) and (min-width:767px){
    .container{
        max-width: 90%;
        padding: 0 5%;
    }
}

// タブレット 
@media (max-width: 768px) {

    header{
        .headLogo{
            width: 189px;
            height: 20.6px;
    
            margin-top: 33px;
            margin-left: 30px;
        }

        .nav_menu{
            width: 70vw;
        }
    }

    // ■FV
    .sec01{
        height: 1024px;

        // 背景黒
        &::before{
            width: 73%;
        }

        // FVメインイメージ
        .boxbackground {
            width: 78%;
        }
        .fv_text{
            top: 330px;
            right: -14%;
    
            font-size: 16px;
    
            h1{
                font-size: 56px;
            }
        }
    }

    // ■about us
    .sec02{
        .container{
            .about_boxImage {
                // height: 479px;
                width: 100%;
            }
            
            .aboutText_wrapper{
                top: auto;
                left: auto;
                margin: 7% 10%;
                
                padding: auto;
        
                // min-height: 359px;
                // min-height: 74%;
                width: 80%;
        
                h2{
                    padding-bottom: 25px;
                }
                p{
                    line-height: 2;
                    font-size: 16px;
                }
                
                .readmoreBtn{
                    margin: 25px 0;
                }
            }
        }
    }

    // ■WORKS
    .sec03{
        padding-top: 80px;
        padding-bottom: 60px;

        .container{
            .imageBords{
                flex-direction: column;

                .imageBord{
                    margin: 0 10%;
                    width: 80%;

                    .imageBox{
                        height: 350px;
                    }

                    .readmoreBtn{
                        margin: 0;
                    }
                }

                .imageBord + .imageBord{
                    margin-left: 10%;
                    margin-top: 80px;
                }
            }
        }

        // グレー背景
        &::before{
            height: 100%;
        }
    }

    // ■LATEST TOPICS
    .sec04{
        padding:40px 0;
        .container{
            margin: 0 10%;

            .topicsList{
                margin-left: 0;
            }

            .positionRight{
                // タブレット、スマホは左寄せ
                text-align: left;
            }
        }
    }

    // ■CONTACT
    .sec05{
        padding: 40px 0 80px;
        .container{

            .contact_wrapper{
                flex-direction: column-reverse;

                .contactText_wrapper{
                    margin-top: 30px;
                    margin-right: 80px;

                    text-align: left;

                    .subTitle{
                        margin-bottom: 30px;
                    }
                    p{
                        line-height: 2;

                    }
                    .readmoreBtn{
                        margin-top: 30px;
                    }
                }

                .contactImage{
                    width: 84%;
                    height: 390px;
                }
            }
        }
    }

    // ================================================================
    // ABOUT US
    // ================================================================
    // ■FV
    .subPageFv{
        height: 615px;
        
        .fv_text{
            top: 220px;
            // right: -14%;

            h1{
                font-size: 52px;
            }
            p{
                font-size: 16px;
            }
        }
    }

    // ■VISION
    .about_sec02{
        .container{
            padding:80px 0 80px 150px;

            h3{
                font-size: 24px;
                font-weight: normal;
            }
            p{
                font-size: 14px;
            }
            p + p{
                margin-top: 30px;
            }
        }
    }

    // ■CEO_MESSAGE
    .about_sec03{
        margin-bottom: 80px;

        .container{
            padding: 0 4%;

            .messageImg{
                position: relative;
                height: 131px;

                &::before{
                    width: 46%;
                    padding-top: 31%;
                    // padding-top: 216px; ★高さ固定でいいかも？
                }
            }

            .ceoMessageText_wrapper{
                padding: 110px 6% 90px;

                .subTitle{
                    margin-bottom: 30px;
                }
                p{
                    line-height: 1.7;
                }
                p + p{
                    margin-top: 40px;
                }
            }
        }
    }

    // ■COMPANY
    .about_sec04{
        margin-bottom: 80px;

        .container{
            padding: 0 4%;
            .companyDetails{
                table{
                    tr{
                        th{
                            font-weight: normal;
                        }
                    }
                }
            }

            iframe{
                height: 230px;
            }
        }
    }

    // ================================================================
    // CONTACT
    // ================================================================
    .contact_sec02{
        .container{
            padding: 135px 5% 197px;
            width: 90%;

            .formDetail{
                margin-bottom: 20px;
            }
        }
    }

}

// ■スマホ用サイズ=======================================================================================
@media (max-width:375px){

    //--------------------------------------------
    // h2 サブタイトル
    .subTitle{
        font-size: 28px;
        letter-spacing: 2.2px;
    }

    // READ MOREボタン
    .readmoreBtn{
        width: 160px;
        height: 36px;
        line-height: 36px;

        font-size: 12px;
    }
    //--------------------------------------------

    header{   
        line-height: 60px;
        height: 60px;
        .headLogo{
            width: 189px;
            height: 20.6px;
    
            margin-top: 19.8px;
            margin-left: 15px;
        }
        .menu{
            margin-right: 15px;
        }
        .nav_menu{
            width: 100vw;
        }
    }


    .sec01{
        height: 667px;

        // 背景黒
        &::before{
            width: 73%;
        }

        // FVメインイメージ
        .boxbackground {
            width: 75%;
            height: 87%;
        }
        .fv_text{
            top: 178px;
            right: -21%;
    
            font-size: 16px;
    
            h1{
                font-size: 56px;
            }
        }
    }

    // ■about us
    .sec02{
        margin-top: 78px;

        .container{
            .about_boxImage {
                height: 541px;
                width: 100%;
            }
            
            .aboutText_wrapper{
                // top: auto;
                // left: auto;
                margin: 13% 3%;
                
                padding: 50px 15px 50px 30px;

                height: auto;
                width: 94%;

                h2{
                    padding-bottom: 25px;
                }
                p{
                    // line-height: 2;
                    font-size: 14px;
                }
                
                .readmoreBtn{
                    margin: 0;
                    margin-top: 25px;
                }
            }
        }
    }

    // ■WORKS
    .sec03{
        padding-top: 40px;
        padding-bottom: 0;

        .container{
            .imageBords{
                .imageBord{
                    padding-bottom: 40px;

                    margin: 0 3%;
                    width: 94%;

                    .imageBox{
                        // height: 350px;
                        height: 0;
                        padding-top: 65%;
                    }

                    .readmoreBtn{
                        margin: 0;
                    }
                }

                .imageBord + .imageBord{
                    margin-left: 3%;
                    margin-top: 0;
                }
            }
        }
    }

    // ■LATEST TOPICS
    .sec04{
        .container{
            margin: 0 3%;

            .topicsList{
                margin-top: 32px;

                .topics{
                    margin-top: 0;
                    margin-bottom: 24px;

                    p{
                        font-size: 12px;
                    }
                }
            }

            .positionRight{
                .readmoreBtn{
                    margin-top: 6px;
                }
            }
        }
    }

    // ■CONTACT
    .sec05{
        .container{
            padding: 40px 3% 40px;

            .contact_wrapper{
                .contactText_wrapper{
                    // margin-top: 30px;
                    margin-right: 0;
                }

                .contactImage{
                    width: 100%;
                    // height: 390px;
                    height: 0;
                    padding-top: 67%;
                }
            }
        }
    }

    // ================================================================
    // ABOUT US
    // ================================================================
    // ■FV
    .subPageFv{
        height: 449px;
        
        .fv_text{
            top: 149px;
            right: -19%;
        }
    }

    // ■VISION
    .about_sec02{
        .container{
            padding:80px 4% 80px;
        }
    }

    // ■CEO_MESSAGE
    .about_sec03{
        margin-bottom: 80px;

        .container{
            padding: 0 4%;

            .messageImg{
                height: 131px;

                &::before{
                    width: 100%;
                    padding-top: 71%;
                    left: -4%;
                }
            }

            .ceoMessageText_wrapper{
                padding: 126px 6% 80px;
                margin-left: auto;
                width: auto;

                .subTitle{
                    margin-bottom: 30px;
                }
                p + p{
                    margin-top: 40px;
                }
            }
        }
    }

    // ■COMPANY
    .about_sec04{
        .container{
            .companyDetails{
                margin-left: auto;
            }

            iframe{
                height: 470px;
            }
        }
    }

     // ================================================================
    // CONTACT
    // ================================================================
    // ■FV
    .contact_sec01{
        height: 365px;

        // FVメインイメージ
        .boxbackground {
            height: 270px;
            background-image: url(../images/fv_image_contact_sp.jpg);

            .fv_text{
                p{
                    text-align: right;
                }
            }
        }
    }

    .contact_sec02{
        .container{
            padding: 80px 3% ;
            width: 94%;

            .formDetail{
                margin-bottom: 20px;
            }

            .flexRadio{
                flex-direction: column;

                label{
                    // height: 30px;
                    margin-top: 15px;
                }
            }

            .textBox{
                height: 48px;
                font-size: 20px;
            }
        }
    }

}