
body{
    // フォント指定
    font-family: Montserrat, "Noto Sans", sans-serif;
    p,a,td,textarea,.textBox,label{font-family: "Noto Sans", 游ゴシック体, sans-serif;}
    .nav_menu > a{font-family: Montserrat, "Noto Sans", sans-serif;}
    .Montserrat{font-family: Montserrat}

    // ■googleFonts
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Noto Sans', sans-serif;

    text-align: center;

    .container{
        max-width: 1100px;
        margin: 0 auto;
        // max-width: 76%;
        // padding: 0 12%;
    }

    // 文字色
    color: #333333;
}

//--------------------------------------------
// ■共通設定

// h2 サブタイトル
.subTitle{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2.2px;
}

// READ MOREボタン
.readmoreBtn{
    display: inline-block;
    
    width: 160px;
    height: 36px;
    line-height: 36px;
    text-align: center;

    background: rgba(0, 0, 0, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 12px;

    position: relative;
    z-index: 2;
    overflow: hidden;
    
    border: 1px solid #333;

    // ホバーアニメーション
    &:hover {
        color: #333;
    }
    &::after {
        // top: -100%;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
    }
    &:hover::after {
        left: 0;
        background-color: #fff;
    }

    &::before,
    &::after {
        position: absolute;
        z-index: -1;
        display: block;
        content: '';
    }
    &,
    &::before,
    &::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
}

.bgGray{
    //背景色グレー
    background-color: #F0F0F0;
}

// スクロールなし
body.noscroll{
    overflow: hidden;
}

// ナビゲーションオープン
.nav_menu.open{
    transform: translateX(0);
    opacity: 1;
    transition: transform .3s,opacity .3s;
}

// ナビゲーション以外の背景をマスク
.burger-musk{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,.5);
    z-index: 1;
}

//--------------------------------------------

header{
    position: fixed;
    top: 0px;
    z-index: 10;

    // 背景のみ透過
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    
    line-height: 90px;
    height: 90px;
    width: 100%;

    display: flex;
    justify-content: space-between; 

    .headLogo{
        width: 260px;
        height: 28.2px;

        margin-top: 30px;
        margin-left: 58px;
    }

    .menu{
        z-index: 10;
        margin-right: 58px;
        font-weight: bold;
        
        h4{
            font-size: 10px;
            .menuBar{
                margin-right: 7px;
            }
        }
    }

    // ナビゲーションメニュー
    .nav_menu{
        position: fixed;
        top: 0;
        right: 0;

        z-index: 2;
        transform: translateX(100%);
        opacity: 0;
        // transition: transform .3s,opacity .3s; 閉じる時のフェードアウトを一旦なしに変更

        background-color: rgba(0, 0, 0, 0.7);
        width: 520px;
        // height: 100%;
        height: 100vh;

        padding-top: 180px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        margin: 0 auto;

        img{
            width: 42px;
            height: auto;
        }
        a{
            line-height: 55px;
            font-size: 20px;
            font-weight: bold;

            letter-spacing: 1.3px;
        }
    }
}

// ================================================================
// MAIN
// ================================================================

// ■FV
.sec01{
    height: 740px;
    position: relative;

    // 背景黒
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #222;
        width: 50%;
        height: 100%;
        z-index: -1;
    }

    // FVメインイメージ
    .boxbackground {
        position: relative;
        width: 76%;
        height: 87%;
        background-image: url("../images/kv-img.jpg");
        background-size: cover;
        background-position: center;
        z-index: 1;

        // 画像を暗くする
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.34);
            top: 0;
            left: 0;
        }
    }
    
    .fv_text{
        position: absolute;

        top: 161px;
        right: -14%;

        text-align: left;
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        font-weight: bold;

        z-index: 1;

        h1{
            font-size: 72px;
            font-weight: 800;
        }
    }
}

// ■about us
.sec02{
    margin-top: 120px;

    .container{
        padding-left: 0;
        padding-right: 0;

        .about_boxImage {
            position: relative;
            height: 607px;
            width: 100%;

            background-image: url("../images/aboutusImage.jpg");
            background-size: cover;
            background-position: center;

            // 画像を暗くする
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.27);
                top: 0;
                left: 0;
            }
        }
        
        .aboutText_wrapper{
            position: absolute;
            top: 110px;
            left: 50px;
            
            padding: 50px 30px;
    
            // height: 63%;
            width: 590px;
    
            text-align: left;
            background: rgba(255, 255, 255, 0.95);
    
            h2{
                padding-bottom: 25px;
            }
            p{
                line-height: 2;
                font-size: 16px;
            }
            
            .readmoreBtn{
                margin: 25px 0;
            }
        }
    }
}

// ■WORKS
.sec03{
    padding-top: 80px;
    padding-bottom: 60px;
    position: relative;

    .container{

        .imageBords{
            display: flex;

            .imageBord{
                text-align: left;
                width: 520px;

                h2{
                    line-height: 1.2;
                    margin-bottom: 30px;
                }

                .imageBox{
                    // 画像共通設定
                    background-size: cover;
                    background-position: center;
                    
                    width: 100%;
                    height: 350px;
                }
                
                .worksImage{
                    background-image: url("../images/worksImage.jpg");
                }
                .cultureImage{
                    background-image: url("../images/cultureImage.jpg");
                }

                p{
                    font-size: 16px;
                    margin: 30px 0;
                }
                .readmoreBtn{
                    margin: 0;
                }
            }

            .imageBord + .imageBord{
                margin-left: 60px;
            }
        }
    }

    // グレー背景
    &::before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #F0F0F0;
        width: 100%;
        height: 771px;
        z-index: -1;
    }
}

// ■LATEST TOPICS
.sec04{
    padding:60px 0;
    .container{
        margin: 0 auto;

        text-align: left;

        .topicsList{
            margin-left: 400px;
            
            .topics{
                margin-top: 32px;
                padding-bottom: 12px;
                border-bottom: 1px solid #DDDDDD;

                .topicsDate{
                    font-size: 10px;
                    color: #CECECE;

                    margin-bottom: 13px;
                }
                
            }
        }

        .positionRight{
            text-align: right;
            
            .readmoreBtn{
                margin-top: 30px;
            }
        }
    }
}

// ■CONTACT
.sec05{
    padding: 60px 0 120px;
    .container{

        .contact_wrapper{
            display: flex;
            justify-content: space-between;

            .contactText_wrapper{
                margin-top: 72px;
                margin-right: 80px;

                text-align: left;

                .subTitle{
                    margin-bottom: 30px;
                }
                p{
                    line-height: 2;

                }
                .readmoreBtn{
                    margin-top: 30px;
                }
            }

            .contactImage{
                position: relative;

                width: 93%;
                // height: 390px;
                padding-top:35%;
                
                background-image: url("../images/contactImage.jpg");
                background-size: cover;
                background-position: top;

                // 画像を暗くする
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.26);
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

footer{
    background-color: #525252;
    color: #fff;

    height: 50px;
    line-height: 50px;

    font-size: 10px;
}

// ================================================================
// ABOUT US
// ================================================================
// ■FV
.subPageFv{
    height: 464px;
    position: relative;
    
    // 背景黒
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #222;
        width: 54%;
        height: 100%;
        z-index: -1;
    }
    
    // FVメインイメージ
    .boxbackground {
        position: relative;
        width: 76%;
        height: 87%;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }
    
    .fv_text{
        position: absolute;
        
        top: 161px;
        right: -14%;
        
        text-align: left;
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        font-weight: bold;
        
        z-index: 1;
        
        h1{
            font-size: 72px;
            font-weight: 800;
        }
    }
}
.about_sec01{
    // FVメインイメージ
    .boxbackground {
        background-image: url("../images/heading-img.jpg");
    }
}

// ■VISION
.about_sec02{
    .container{
        padding:120px 0 120px 140px;

        text-align: left;

        .subTitle{
            margin-bottom: 30px;
        }
        h3{
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0.024em;
            
            margin-bottom: 30px;
        }
        p + p{
            margin-top: 44px;
        }
    }
}

// ■CEO_MESSAGE
.about_sec03{
    margin-bottom: 120px;

    .container{
        .messageImg{
            position: relative;
            height: 144px;

            &::before{
                content: "";
                background-image: url(../images/ceo-img.jpg);
                background-position: center;
                background-size: cover;
                width: 38%;
                // height: 283px;
                padding-top: 25%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        .ceoMessageText_wrapper{
            text-align: left;

            padding: 120px 17% 90px;
            margin-left: 30%;
            width: 70%;

            .subTitle{
                margin-bottom: 30px;
            }
            p{
                line-height: 2;
            }
            p + p{
                margin-top: 44px;
            }
        }
    }
}

// ■COMPANY
.about_sec04{
    margin-bottom: 120px;

    .container{
        text-align: left;

        .subTitle{
            padding-bottom: 30px;
            border-bottom: 1px solid #DDDDDD;
        }

        .companyDetails{
            // margin-left: 300px;
            margin-left: 37%;
            margin-bottom: 40px;

            table{
                width: 100%;
                tr{
                    th{
                        width: 144px;
                    }
                    height: 56px;
                    line-height: 56px;
                    
                    border-bottom: 1px solid #DDDDDD;
                }
            }
        }

        iframe{
            height: 360px;
        }
    }
}

// ================================================================
// CONTACT
// ================================================================
// ■FV
.contact_sec01{
    // FVメインイメージ
    .boxbackground {
        background-image: url("../images/heading-img_contact.jpg");
    }
}

.contact_sec02{
    .container{
        padding: 120px 0;
        width: 700px;

        max-width: none;

        text-align: left;

        p{
            letter-spacing: 0.04em;
            line-height: 1.5;
        }

        .formTitle{
            margin-bottom: 8px;
        }

        .formDetail{
            margin-bottom: 55px;
        }
        .flexRadio{
            display: flex;

            padding: 8px;

            label{
                width: 110px;
            }
            input{
                margin: 0 5px;
            }
        }

        .textBox{
            border: 1px solid #333333;
            width: 100%;
            height: 41px;
            padding: 10px;
        }
        
        .next_margin{
            margin-bottom: 40px;
        }
        
        textarea{
            border: 1px solid #333333;
            width: 100%;
            padding: 10px;

            letter-spacing: 0.04em;
            line-height: 1.5;
        }

        #tArea_contactDetail{
            height: 212px;
        }
        #tArea_praibacyPolicy{
            height: 242px;
        }
        
        .socialCB{
            width: 1em;
            height: 1em;
            margin-right: 6px;
        }

        .submitBtn{
            background-color: #333333;
            color: #fff;
            width: 160px;
            height: 36px;
            // line-height: 1em;
            // padding: 10px;

            letter-spacing: 0.04em;
            // line-height: 1.5;
        }

    }
}

// 必須アイコン
.importantIcon{
    position: relative;
    &::after{
        content: "必須";
        background-color: #333333;
        color: #fff;
        font-size: 12px;
        margin-left: 5px;
        padding: 3px 5px;

        position: absolute;
        top: -1px;
    }
}
.positionCenter{
    text-align: center;
}

// ----------------------------------------------------------------
