@charset "UTF-8";
.tb_only {
  display: none;
}

.sp_only {
  display: none;
}

.pc_only {
  display: block;
}

body {
  font-family: Montserrat, "Noto Sans JP", sans-serif;
  text-align: center;
  color: #333333;
}

body p, body a {
  font-family: "Noto Sans JP", 游ゴシック体, sans-serif;
}

body .nav_menu > a {
  font-family: Montserrat, "Noto Sans JP", sans-serif;
}

body .container {
  max-width: 1100px;
  margin: 0 auto;
}

.subTitle {
  font-size: 32px;
  letter-spacing: 2.2px;
}

.readmoreBtn {
  display: inline-block;
  width: 160px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: black;
  color: white;
  font-size: 12px;
}

.bgGray {
  background-color: #F0F0F0;
}

body.noscroll {
  overflow: hidden;
}

.nav_menu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
}

.burger-musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

header {
  position: fixed;
  top: 0px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  line-height: 90px;
  height: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .headLogo {
  width: 260px;
  height: 28.2px;
  margin-top: 30px;
  margin-left: 58px;
}

header .menu {
  z-index: 10;
  margin-right: 58px;
  font-weight: bold;
}

header .menu h4 {
  font-size: 10px;
}

header .menu h4 .menuBar {
  margin-right: 7px;
}

header .nav_menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
  background-color: rgba(0, 0, 0, 0.7);
  width: 520px;
  height: 100%;
  padding-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
}

header .nav_menu img {
  width: 42px;
  height: auto;
}

header .nav_menu a {
  line-height: 55px;
  font-size: 20px;
  letter-spacing: 1.3px;
}

.sec01 {
  height: 740px;
  position: relative;
}

.sec01::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.sec01 .boxbackground {
  position: relative;
  width: 76%;
  height: 87%;
  background-image: url("../images/kv-img.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.sec01 .boxbackground::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.34);
  top: 0;
  left: 0;
}

.sec01 .fv_text {
  position: absolute;
  top: 161px;
  right: -14%;
  text-align: left;
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

.sec01 .fv_text h1 {
  font-size: 72px;
}

.sec02 {
  margin-top: 120px;
}

.sec02 .container .about_boxImage {
  position: relative;
  height: 607px;
  width: 100%;
  background-image: url("../images/aboutusImage.jpg");
  background-size: cover;
  background-position: center;
}

.sec02 .container .about_boxImage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.27);
  top: 0;
  left: 0;
}

.sec02 .container .aboutText_wrapper {
  position: absolute;
  top: 110px;
  left: 50px;
  padding: 50px 30px;
  height: 63%;
  width: 590px;
  text-align: left;
  background: rgba(255, 255, 255, 0.95);
}

.sec02 .container .aboutText_wrapper h2 {
  padding-bottom: 25px;
}

.sec02 .container .aboutText_wrapper p {
  line-height: 2;
  font-size: 16px;
}

.sec02 .container .aboutText_wrapper .readmoreBtn {
  margin: 25px 0;
}

.sec03 {
  padding-top: 80px;
  padding-bottom: 60px;
  position: relative;
}

.sec03 .container .imageBords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec03 .container .imageBords .imageBord {
  text-align: left;
  width: 520px;
}

.sec03 .container .imageBords .imageBord h2 {
  line-height: 1.2;
  margin-bottom: 30px;
}

.sec03 .container .imageBords .imageBord .imageBox {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
}

.sec03 .container .imageBords .imageBord .worksImage {
  background-image: url("../images/worksImage.jpg");
}

.sec03 .container .imageBords .imageBord .cultureImage {
  background-image: url("../images/cultureImage.jpg");
}

.sec03 .container .imageBords .imageBord p {
  font-size: 16px;
  margin: 30px 0;
}

.sec03 .container .imageBords .imageBord .readmoreBtn {
  margin: 0;
}

.sec03 .container .imageBords .imageBord + .imageBord {
  margin-left: 60px;
}

.sec03::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #F0F0F0;
  width: 100%;
  height: 771px;
  z-index: -1;
}

.sec04 .container {
  padding: 60px 0;
  margin: 0 auto;
  text-align: left;
}

.sec04 .container .topicsList {
  margin-left: 400px;
}

.sec04 .container .topicsList .topics {
  margin-top: 32px;
  padding-bottom: 12px;
  border-bottom: 1px solid #DDDDDD;
}

.sec04 .container .topicsList .topics .topicsDate {
  font-size: 10px;
  color: #CECECE;
  margin-bottom: 13px;
}

.sec04 .container .positionRight {
  text-align: right;
}

.sec04 .container .positionRight .readmoreBtn {
  margin-top: 30px;
}

.sec05 .container {
  padding: 60px 0 120px;
}

.sec05 .container .contact_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec05 .container .contact_wrapper .contactText_wrapper {
  margin-top: 72px;
  margin-right: 80px;
  text-align: left;
}

.sec05 .container .contact_wrapper .contactText_wrapper .subTitle {
  margin-bottom: 30px;
}

.sec05 .container .contact_wrapper .contactText_wrapper p {
  line-height: 2;
}

.sec05 .container .contact_wrapper .contactText_wrapper .readmoreBtn {
  margin-top: 30px;
}

.sec05 .container .contact_wrapper .contactImage {
  position: relative;
  width: 93%;
  padding-top: 35%;
  background-image: url("../images/contactImage.jpg");
  background-size: cover;
  background-position: top;
}

.sec05 .container .contact_wrapper .contactImage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.26);
  top: 0;
  left: 0;
}

footer {
  background-color: #525252;
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 10px;
}
/*# sourceMappingURL=stylesheet.css.map */